body {
    background-color: #111;
    color: #ccc;
}

#content {
    margin: auto;
    max-width: 1300px;
}

#content > * {
    width: 800px;
    margin: auto;
}

#content > div, #table-of-contents {
    background-color: #333;
    border-radius: 8px;
    padding: 12px;
    margin: 10px auto;
}

#content > div > div {
    display: flex;
}
#content > div > div {
    display: block;
}

#table-of-contents, figure {
    width: 200px;
    float: right;

}

#outline-container-sitemap {
    width: 200px;
    float: left;
}

.outline-2 {
    margin-top: 10px !important;
}

figure {
    display: inline-block;
}

figure > img {
    width: 180px;
}

a, a:visited {
    color: darkgoldenrod
}

.relleno {
    color: white;
}
